<h2><%= @post.title %></h2>
<p><i>Created at <%= @post.created_at.strftime("%B %d, %Y") %></i></p>
<p><%= @post.body %></p>

<a href="/">Back</a>
| <%= link_to 'Edit', edit_post_path(@post) %> |
 <%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' } %>
